In [1]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['d','f','e'],
             index=['台北','台中','台南','高雄']
            )
frame

           d         f         e
台北  0.066713 -0.551737  0.142484
台中 -0.125334 -0.811517  0.647287
台南 -0.408014  0.465253 -0.720870
高雄 -0.452589 -0.286521 -0.764101

In [2]:
np.absolute(frame)

           d         f         e
台北  0.066713  0.551737  0.142484
台中  0.125334  0.811517  0.647287
台南  0.408014  0.465253  0.720870
高雄  0.452589  0.286521  0.764101

In [3]:
#使用for in 讀取DataFrame
for column in frame:
    for item in frame[column]:
        print(item)
    print("=======")

0.06671292033877733
-0.1253343967179512
-0.40801364819064373
-0.4525888072495029
=======
-0.5517372200490045
-0.8115168392322869
0.46525274188257876
-0.2865212059175512
=======
0.14248441625419256
0.6472871065984301
-0.7208702920382417
-0.7641013768546536
=======

In [4]:
#使用for in 讀取DataFrame
for column in frame:
    print(np.abs(frame[column]))

台北    0.066713
台中    0.125334
台南    0.408014
高雄    0.452589
Name: d, dtype: float64
台北    0.551737
台中    0.811517
台南    0.465253
高雄    0.286521
Name: f, dtype: float64
台北    0.142484
台中    0.647287
台南    0.720870
高雄    0.764101
Name: e, dtype: float64

In [5]:
np.max(frame,axis=0)

d    0.066713
f    0.465253
e    0.647287
dtype: float64

In [6]:
np.max(frame,axis=1)

台北    0.142484
台中    0.647287
台南    0.465253
高雄   -0.286521
dtype: float64

In [7]:
#使用numpy的function
np.max(frame,axis=0) - np.min(frame,axis=0)

d    0.519302
f    1.276770
e    1.411388
dtype: float64

In [8]:
#使用dataFrame的method
frame.max(axis=0) - frame.min(axis=0)

d    0.519302
f    1.276770
e    1.411388
dtype: float64